@yellow: #fcf003;
@red: #ba0612;
@green: #2fa305;

.margenes(@top: 0px, @bottom: opx){
    margin-top:@top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes (50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @green;
    .margenes (10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    .margenes (10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.footer-address-icons {
    padding-right: 60px;
}

.tab-content {
    padding-top: 10px;
}
